@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'japonesa';
    src: url(../fonte/go3v2.ttf);
}

body{
    background-color: #ffa1d5;
}

header{
    background-image: linear-gradient(to bottom, #F20587 , #2E038C);
    line-height: 1.4em;
    font-weight: bold;
    padding: 20px;
}
header > h1{
    color: white;
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
    line-height: 1.2em;
    font-family: 'japonesa';
    font-weight: normal;
}
header > p{
    color: white;
    text-align: center;
    padding: 10px;
    max-width: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif
}
nav{
    padding: 15px;
    background-color: #2E038C;
    box-shadow: 0px 8px 8px rgb(0 0 0 / 30%);
}
nav > a{
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
a:hover{
    background-color: #F20587;
    transition-duration: 1s;
    border-radius: 10px;
}
main{
    min-width: 150px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 15px #00000061;  
    margin-bottom: 30px;
}
article{
    margin-bottom: 30px;
}
article > h1{
   color: #2E038C;
   padding: 15px;
   font-family: 'japonesa';
   font-size: 1.7em;
}   
article > h2{
    padding: 10px 10px 10px 15px;
    font-family: 'japonesa';
    color: #E30B44;
    
}
article p{
    padding: 10px 15px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    text-indent: 1.2em;
}
picture.imagem{
   display: block;
   text-align: center;
   padding: 10px;
}
img{
    width: 100%;
}
div.video{
    display: block;
    background-color: #E30B44;
    text-align: center;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
}
iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
p#ultimo{
    padding-top: 20px;
    padding-bottom: 30px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #2E038C;   
}
footer > p{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; /* Tenho que arrumar isso preciso escolher uma fonte melhor e tals*/ 
}