@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: japonesa;
    src: url(../fonte/go3v2.ttf);
}

body{
    background-color: #ffa1d5;
}

header{
    background-image: linear-gradient(to bottom, #F20587 , #2E038C);
    line-height: 1.4em;
    font-weight: bold;
    padding: 20px;
}
header > h1{
    color: white;
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
    line-height: 1.2em;
}
header > p{
    color: white;
    text-align: center;
    padding: 10px;
    max-width: 500px;
    margin: auto;
}
nav{
    padding: 5px;
    background-color: #2E038C;
}
nav > a{
    padding: 15px;
    color: white;
    font-weight: bold;
}
main{
    min-width: 150px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 15px #00000061;
    z-index: 2;
    
}
article{
    margin-bottom: 30px;
}
article > h1{
   padding: 15px;
   font-family: 'japonesa';
   font-size: 1.7em;
}
article > h2{
    padding: 10px;
    font-family: 'japonesa';
    color: #2E038C;
}
article p{
    padding: 10px 15px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    text-indent: 1.2em;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #2E038C;   
}
footer > p{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; /* Tenho que arrumar isso preciso escolher uma fonte melhor e tals*/ 
}